extends ./layouts/layout

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac velit non enim rhoncus efficitur vel nec dolor. Nulla facilisi. Aenean massa sapien, pharetra id ipsum non, maximus semper nulla. Ut rutrum ipsum non enim aliquam pellentesque. Proin volutpat turpis libero, vel mattis enim fermentum nec. Proin in odio est. Aliquam quis suscipit tortor. Nullam tristique tellus quis turpis mattis, sit amet posuere turpis interdum. Vestibulum blandit ex non quam ullamcorper, quis vulputate augue consectetur. Maecenas id iaculis orci, at sollicitudin arcu. Duis pulvinar bibendum mi sit amet ornare.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum augue ac odio tempor laoreet. Fusce eget ante placerat, convallis turpis vehicula, venenatis erat. Vivamus ornare enim eu pharetra vehicula. Integer hendrerit sit amet purus at faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in elit ac turpis pulvinar tristique at mattis sapien.

                p Maecenas fermentum neque massa, elementum efficitur leo dignissim quis. Vestibulum in orci libero. Curabitur malesuada sem augue, vitae facilisis lacus tincidunt consequat. Vestibulum convallis erat sed erat condimentum, eu hendrerit erat imperdiet. Integer semper quam at urna auctor ultrices. Suspendisse volutpat velit orci, eget scelerisque eros convallis in. Integer pretium non risus at iaculis. Maecenas bibendum ac turpis in dapibus. Etiam pellentesque erat vel justo tempus molestie. Sed hendrerit ipsum vel nisi dictum accumsan.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed hendrerit ipsum vel nisi dictum accumsan. Donec convallis justo condimentum lorem molestie porttitor. Nunc a sapien commodo, iaculis dolor sit amet, egestas purus. Aliquam erat volutpat.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed hendrerit ipsum vel nisi dictum accumsan. Donec convallis justo condimentum lorem molestie porttitor. Nunc a sapien commodo, iaculis dolor sit amet, egestas purus. Aliquam erat volutpat.


                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios
                    p Sed hendrerit ipsum vel nisi dictum accumsan. Donec convallis justo condimentum lorem molestie porttitor. Nunc a sapien commodo, iaculis dolor sit amet, egestas purus. Aliquam erat volutpat.